
body{
    background: url("dev.png") no-repeat 0 10%;
}

.photo{
    border-radius: 50%;
    border: 1px solid black;
}
#title {
    font-family:'Courier New', Courier, monospace;
    color:rgba(0, 0, 0, 0.726);
    padding-top: 10px;
    font-size: 43px;
    text-transform: uppercase;
    font-weight: bolder;
    ;
} 

a{
    text-decoration:underline;
}

.subtitle, .post_title{
    color: rgb(102, 102, 104);
    font-size: 27px;
}

.post_title{
    font-size: 18px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.text{
    font-size: 14px;
    font-style: oblique;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-bottom: 15px;
}
.post_{
    background-color:rgba(199, 236, 243, 0.733);
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}

.list{
    list-style-type: none;
    font-family: cursive;
    font-size: 18px;
    padding-left: 10px;
}
.list li a{
    color: rgb(78, 77, 77);
}